.top-bar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
}

.top-bar h1 {
  width: 50%;
}

.select-container {
  position: relative;
  width: 45%;
  font-size: 1.3rem;
  font-weight: 500;
}

.select-container select {
  width: 100%;
  padding: 1rem;
  background-color: #1f2535;
  border-radius: 7px;
  appearance: none;
  cursor: pointer;
}
.select-container i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container select:focus {
  box-shadow: 0 0 7px #f85953;
}

.random-button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  background-color: #1f2535;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 1.3rem;
  cursor: pointer;
}
.random-button:active {
  transform: scale(0.95);
  opacity: 0.9;
}

@media (min-width: 532px) {
  .random-button {
    position: static;
    margin: 1rem auto 0;
  }
}

@media (min-width: 768px) {
  .select-container {
    width: 30%;
  }
}
@media (min-width: 929px) {
  .random-button {
    position: absolute;
  }
}
@media (hover: hover) and (pointer: fine) {
  .select-container select:focus {
    box-shadow: none;
  }
  .select-container select:hover {
    box-shadow: 0 0 7px #f85953;
  }
  .random-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px #f85953;
  }
}
@media (min-width: 1280px) {
  .select-container select {
    transition: box-shadow 0.2s ease;
  }
  .top-bar {
    margin-bottom: 2rem;
  }
  .random-button {
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }
}
@media (min-width: 1550px) {
  .select-container {
    width: 15%;
  }
}
