.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media (min-width: 1280px) {
  .top-bar {
    margin-bottom: 2rem;
  }
}
