.filters {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.filters button {
  background-color: #2f354b;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  font-size: 1.3rem;
}

.filters button:last-child {
  margin-right: 1rem;
}

.filters button.active {
  background-color: #f85953;
  color: #000;
  cursor: auto;
}

@media (min-width: 1280px) {
  .filters button {
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .filters button:hover {
    background-color: #f85953;
  }
}
