.country-details {
  width: 95vw;
  margin: 0 auto;
  padding: 3rem 0 1rem;
}

.country-details button {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem 1.25rem 0.5rem 1rem;
  border-radius: 15px;
  font-size: 1.8rem;
  color: #fff;
  background-color: #2f354b;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.country-details button i {
  padding-right: 0.5rem;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, auto);
  gap: 1rem;
}

.currencies {
  grid-column: 1;
  grid-row: 8 / span 2;
}
.additional {
  grid-column: 1;
  grid-row: 10 / span 5;
}

.languages {
  grid-column: 2;
  grid-row: 5 / span 2;
}
.traffic {
  grid-column: 2;
  grid-row: 7 / span 3;
}
.contact {
  grid-column: 2;
  grid-row: 10 / span 4;
}

.info section.weather {
  grid-column: 1 / span 2;
  grid-row: 15;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info section.maps {
  grid-column: 1 / span 2;
  grid-row: 16;
  flex-direction: row;
  justify-content: space-around;
}

section.maps h3 {
  margin-bottom: 0;
}

.maps a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

@media (min-width: 768px) {
  .country-details {
    width: 90vw;
  }
}
@media (hover: hover) and (pointer: fine) {
  .country-details button:hover {
    background-color: #f85953;
    color: #000;
  }
  .maps a:hover {
    background-color: #f85953;
    color: #000;
  }
}
@media (min-width: 1280px) {
  .country-details {
    width: 85vw;
    padding-top: 1rem;
  }
  .country-details button {
    top: 1.5rem;
    left: 7.5vw;
  }
  .info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, auto);
  }
  .additional {
    grid-column: 2;
    grid-row: 5 / span 5;
  }
  .languages {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
  .traffic {
    grid-column: 3;
    grid-row: 3 / span 3;
  }
  .contact {
    grid-column: 3;
    grid-row: 6 / span 4;
  }
  .info section.weather {
    grid-column: 1 / span 3;
    grid-row: 10;
  }
  .info section.maps {
    grid-column: 1 / span 3;
    grid-row: 11;
  }
}
